.contato {
    padding-top: .5rem;
    padding-bottom: .5rem ;
    background-color: var(--cor-fundo2);
}

.contato__texto {
    font-family: var(--fonte-texto);
    padding-bottom: .8rem;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.contato_botao {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 40px;
    height: 10px;
}

.label-padrao {
    padding: 7px 0;
}

.input-padrao {
    resize: none;
    background: rgba(255, 255, 255, alpha);
    height: 25px;
}
.input-textarea {
    resize: none;
    height: none;
}