.rodape {
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    background: var(--cor-fundo);
}

.rodape__paragrafo {
    padding-bottom: .9rem;
}

.rodape__social {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.rodape__midia {
    display: block;
    width: 20px;
    margin: 5px 15px;
}

.rodape__midia:hover{
    transition-duration: 0.3s;
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    .rodape__social {
        justify-content: space-between;
    }
    
}